@font-face {
  font-family: "Arapey";
  src: url('/assets/fonts/Arapey-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arapey";
  src: url('/assets/fonts/Arapey-Italic.woff2');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: "Arapey", sans-serif;
  background-color: #a7f0fc;
  color: #00738c;
}

p {
  white-space: pre-line;
}

h1, h2, h3, h4 {
  color: #028fad;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style: none;
}

.text-highlight {
  color: #05ddfa;
}

.container-layout {
  display: flex;
  margin: 2% 15% 5% 15%;
  align-items: flex-start;
}

.container {
  background-color: #dcf6fc;
  padding: 15px;
  margin: 5px;
  border: 2px solid #028fad;
  overflow: hidden;
}

.container-content a {
  color: inherit;
  text-decoration: none;
  transition: all 100ms;
}

.content-button {
  font-style: italic;
  text-decoration: underline !important;
}

.content-button:hover {
  color: #05ddfa;
}

.content-image {
  border: 2px solid #028fad;
}

.container-main {
  flex: 1;
}

.container-header {
  border-bottom: 1px solid #a4d5e0;
  padding-left: 10px;
  margin-bottom: 10px;
}

.container-content tr {
  margin-bottom: 15px;
}

.container-side {
  flex: 0 0 150px;
  padding: 5px;
  max-width: 150px;
}

.container-side > .container-header {
  padding-left: 0;
}

.content-navbutton {
  padding: 5px;
  margin: 2px;
  background-color: #beeffa;
  transition: 0.1s;
  cursor: pointer;
  user-select: none;
}

.content-navbutton a {
  display: block;
}

.content-navbutton:hover {
  background-color: #b5dfe8;
}

.content-navbutton:active {
  background-color: #a2d5e0;
}

.content-navbutton-active {
  background-color: #a2d5e0;
}

#banner h1 {
  font-size: xxx-large;
}

#whale {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 215px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

#whale:hover {
  transform: scale(1.05) rotate(-1.5deg);
}

#whale:active {
  transform: scale(1);
}

#update-panel {
  overflow-y: scroll;
  height: 200px;
  padding: 5px;
}

#links-panel .content-navbutton {
  margin: 0 5px 5px 5px;
}

@media (max-width: 1200px) {
  .container-layout {
    margin: 5%;
    flex-direction: column;
    align-items: normal;
  }

  .container-side {
    flex: 1;
    max-width: unset;
  }

  #whale {
    height: 140px;
  }
}
