<!DOCTYPE html>
<html>
  <head>
    <%- include("../components/meta.ejs", {pageTitle: "Chat"}) %>
  </head>
  <body>
    <%- include("../components/banner.ejs") %>
    <div class="container-layout">
      <%- include("../components/navbar.ejs", { current_page: "chat" }) %>
      <div class="container container-main">
        <div class="container-header">
          <h1>Chat!</h1>
        </div>
        <div class="container-content">
          <iframe src="https://www5.cbox.ws/box/?boxid=964636&boxtag=m5da7h" width="100%" height="450" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe> 
        </div>
      </div> 
    </div>
    <script src="/assets/scripts/modal.js"></script>
  </body>
</html>
