<!DOCTYPE html>
<html>
  <head>
    <%- include("../components/meta.ejs", {pageTitle: "Gallery"}) %>
  </head>
  <body>
    <%- include("../components/banner.ejs") %>
    <div class="container-layout">
      <%- include("../components/navbar.ejs", { current_page: "gallery" }) %>
      <div class="container container-main">
        <div class="container-header">
          <h1>Gallery!</h1>
        </div>
        <div class="container-content">
          <h1>WIP WIP WIP WIP</h1>
        </div>
      </div>
    </div>
    <script src="/assets/scripts/modal.js"></script>
  </body>
</html>
