<!DOCTYPE html>
<html>
  <head>
    <%- include("../components/meta.ejs", {pageTitle: "Gallery"}) %>
    <link href="/assets/styles/gallery.css" rel="stylesheet">
    <link href="/assets/styles/modal.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet"/>
  </head>
  <body>
    <%- include("../components/banner.ejs") %>
    <div class="container-layout">
      <%- include("../components/navbar.ejs", { current_page: "gallery" }) %>
      <div class="container container-main">
        <div class="container-header">
          <h1>Gallery!</h1>
          <p>Things I like/random screenshots/my drawings</p>
        </div>
        <div class="container-content">
          <p id="gallery-sort-text">Sort by: <select id="gallery-sort">
            <option value="latest">Latest</option>
            <option value="oldest">Oldest</option>
          </select></p>
          <p id="gallery-year-text">Year: <select id="gallery-year">
            <option value="all">All</option>
          </select></p>
          <ul>
            <li class="block-highlight"><input type="checkbox" class="gallery-filter-toggle" filter="hidden"> Show hidden</li>
          </ul>
          <p id="shortcuts" class="silent"><i class="fa-regular fa-circle-question"></i> Viewer shortcuts</p>
          <div align="center">
            <ul id="gallery-page">
              <li id="gallery-page-prev">Prev</li>
              <li id="gallery-page-pages"></li>
              <li id="gallery-page-next">Next</li>
            </ul>
          </div>
          <div class="gallery-content" align="center"></div>
        </div>
      </div>
    </div>
    <script src="/assets/scripts/gallery.js"></script>
    <script>
      var filters = [];
      var pageMax = 30;

      function clearFilters() {
        $(".gallery-filter-toggle").each(function() {
          this.checked = false;
        });
      }

      function clearUnsafeFilters() {
        $(".gallery-filter-unsafe").each(function() {
          this.checked = false;
        });
      }

      function applyFilter(gallery) {
        $(gallery).each(function() {
          const image = $(this);

          if (image.attr("tags") !== undefined) {
            if (image.attr("tags").split(",").some(filter => filters.includes(filter))) {
              image.css("display", "inline-grid");
              image.siblings().css("display", "inherit");
            } else {
              image.css("display", "none");
              image.siblings().css("display", "none");
            }
          }
        });
      }

      injectYears();
      loadPost(false, 0, pageMax, false, true);
      clearFilters();

      $("#shortcuts").attr("title", `Up Arrow/Shift+Space: Go back
Down Arrow+Space: Go forward
Left Arrow: Flip left
Right Arrow: Flip Right
Escape: Close`);

      $(".gallery-filter-toggle").on("change", function() {
        $(".gallery-filter-toggle").each(function() {
          const cFilter = $(this);

          if (cFilter.is(":checked"))
            filters.push(cFilter.attr("filter"));
          else
            filters = filters.filter(val => val !== cFilter.attr("filter"))
        });

        applyFilter($(".gallery-container").find(".gallery"));
      });

      postLoadPost = function() {
        applyFilter($(".gallery-container").find(".gallery"));
      };

      onModalOpened = function() {
        applyFilter($(".modal-telescope").find(".gallery"));
      };

      $("#gallery-sort").on("change", function() {
        if (this.value === "latest") {
          loadPost(false, 0, pageMax, false, true);
        } else if (this.value === "oldest") {
          loadPost(true, 0, pageMax, false, true);
        }
      });

      $("#gallery-year").on("change", function() {
        page = 1;
        const sort = $("#gallery-sort").val();

        if (sort === "latest") {
          loadPost(false, 0, pageMax, false, true);
        } else if (sort === "oldest") {
          loadPost(true, 0, pageMax, false, true);
        }
      });
    </script>
  </body>
</html>
