<!DOCTYPE html>
<html>
  <head>
    <%- include("../components/meta.ejs", {pageTitle: "Home"}) %>
  </head>
  <body>
    <%- include("../components/banner.ejs") %>
    <div class="container-layout">
      <%- include("../components/navbar.ejs", { current_page: "home" }) %>
      <div class="container container-main">
        <div class="container-header">
          <h1>Hello!</h1>
        </div>
        <div class="container-content">
          <table>
            <tr>
              <img id="pfp" class="gallery" title="Dewa :3&#010;&#010;pfp by @soggytiggy &lt;3" src="/assets/pfp.png">
              <p>Welcome to my little corner on the internet! I'm <span class="text-highlight">gus</span>, an 18yo indonesian :)
                Here you will mainly find things that I'm interested in such as music, tech & programming, video games, and other stuff. I like to code and listen to music in my free time, and I like to cook sometimes.

                A little fact about the site's name, I chose the name "farewhale" because I like whales, and I think it sounds funny :D

                My favorite kind of whale is the <i>sperm whale</i>.</p>
            </tr>
            <tr>
              <div id="buttons" align="center">
                <img src="/assets/butts/onlinux.gif">
                <img src="/assets/butts/neocities.gif">
                <img src="/assets/butts/firefox.gif">
                <img src="/assets/butts/chrome.gif">
                <a target="_blank" href="https://artixlinux.org"><img src="/assets/butts/artix.gif"></a>
                <a target="_blank" href="https://github.com/neovim/neovim"><img src="/assets/butts/neovim.gif"></a>
                <img src="/assets/butts/archive.gif">
                <img src="/assets/butts/puter.jpg">
                <a target="_blank" href="https://youtu.be/USsL6RSGHUs"><img src="/assets/butts/stalker.gif"></a>
                <img src="/assets/butts/napnow.png">
              </div>
            </tr>
          </table>
        </div>
      </div>
      <div class="container container-side">
        <div class="container-header" align="center">
          <h1>Updates</h1>
        </div>
        <div id="update-panel" class="container-content">
          <ul>
            <li>
              <h3>04/07/2025</h3>
              <p>I got sick of the bright colors.. so were going deeper underwater heh
                
                oh also look new pfp :3</p>
            </li>
            <li>
              <h3>04/04/2025</h3>
              <p>test dir tree layout for blog
                might use it on other stuff too</p>
            </li>
            <li>
              <h3>25/12/2024</h3>
              <p>test microblog</p>
            </li>
            <li>
              <h3>21/12/2024</h3>
              <p>Added collections, prolly unfinished im too lazy ahhhgg</p>
            </li>
            <li>
              <h3>6/12/2024</h3>
              <p>Site is still in big WIP, more stuff coming soon...

                ---

                Added most of the pages, buttons, etc.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/assets/scripts/modal.js"></script>
  </body>
</html>
