<!DOCTYPE html>
<html>
  <head>
    <%- include("../components/meta.ejs", {pageTitle: "My Music"}) %>
  </head>
  <body>
    <%- include("../components/banner.ejs") %>
    <div class="container-layout">
      <%- include("../components/navbar.ejs", { current_page: "music" }) %>
      <div class="container container-main">
        <div class="container-header">
          <h1>My Music!</h1>
        </div>
        <div class="container-content">
          <h2>Blissful Treats - Single</h2>
          <p>A birthday gift I made for my boyfriend.

            - July 2024</p>
          <img class="gallery content-image" src="/assets/blissful_treats.png" width="312px">
          <ol>
            <li>Lake Mist <small><a class="content-button" target="_blank" href="https://youtu.be/FiTu_xSOISI">(listen)</a></small></li>
            <li>In Due Time <small><a class="content-button" target="_blank" href="https://youtu.be/ofCfo3uAnZo">(listen)</a></small></li>
            <li>The Walk (Bonus Track) <small><a class="content-button" target="_blank" href="https://youtu.be/hzNNatzEU38">(listen)</a></small></li>
          </ol>
          <h2>Other</h2>
          <p>Random unreleased, unfinished songs.</p>
          <ul>
            <li>30/10/2025 - Lunair<small><a class="content-button" target="_blank" href="https://youtu.be/TmjExFy5xMs">(listen)</small></li>
            <li>06/10/2025 - 20251006 <small><a class="content-button" target="_blank" href="https://youtu.be/AXF6jEDiX-U">(listen)</a></small></li>
            <li>27/08/2025 - I/O Thing <small><a class="content-button" target="_blank" href="https://youtu.be/g7MOFhkxR4w">(listen)</a></small></li>
            <li>18/04/2025 - return <small><a class="content-button" target="_blank" href="https://youtu.be/ajaW4IyMeBk">(listen)</a></small></li>
            <li>27/03/2025 - false three <small><a class="content-button" target="_blank" href="https://youtu.be/8CincK2ae8Q">(listen)</a></small></li>
            <li>10/02/2025 - kel <small><a class="content-button" target="_blank" href="https://youtu.be/keUsiAGuVpU">(listen)</a></small></li>
            <li>26/01/2025 - Vertigo <small><a class="content-button" target="_blank" href="https://youtu.be/_ExDMERLZhM">(listen)</a></small></li>
            <li>24/01/2025 - crux <small><a class="content-button" target="_blank" href="https://youtu.be/gBwaOOuKpHQ">(listen)</a></small></li>
            <li>31/12/2024 - tangerine (a time for you) <small><a class="content-button" target="_blank" href="https://youtu.be/Jeef04l34T0">(listen)</a></small></li>
            <li>28/12/2024 - crustmas <small><a class="content-button" target="_blank" href="https://youtu.be/MrxbVcYd9X8">(listen)</a></small></li>
            <li>22/06/2023 - Petrichor <small><a class="content-button" target="_blank" href="https://youtu.be/EsFxgKt3_q4">(listen)</a></small></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/assets/scripts/modal.js"></script>
  </body>
</html>
