@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-background: #002e35;
  --color-container-background: #004455;
  --color-highlight: #7cb5c4;
  --color-border-thin: #a4d5e0;
  --color-bg-highlight: #3a7380;
  --text-shadow: drop-shadow(2px 2px #222);
  font-size: 18px;
}

body {
  font-family: "Gentium Plus", sans-serif;
  background-color: var(--color-background);
  color: #b6f2ff;
}

p {
  white-space: pre-line;
}

h1, h2, h3, h4 {
  color: var(--color-highlight);
  margin-bottom: 10px;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style: none;
}

.block-highlight {
  padding: 5px;
  padding-right: 10%;
  display: inline-block;
  background-color: var(--color-bg-highlight);
}

.silent {
  color: var(--color-highlight);
  font-style: italic;
  font-size: 0.8rem;
}

.text-highlight {
  color: #00e1ff;
}

.wallpaper {
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-image: url('/assets/wallpaper.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: brightness(65%);
}

.container-layout {
  display: flex;
  margin: 2% 10% 5% 10%;
  align-items: flex-start;
}

.container {
  background-color: var(--color-container-background);
  padding: 15px;
  margin: 5px;
  border: 2px solid var(--color-highlight);
  overflow: hidden;
}

.container-content a {
  color: inherit;
  text-decoration: none;
  transition: all 100ms;
}

.content-button {
  font-style: italic;
  text-decoration: underline !important;
  cursor: pointer;
}

.content-button:hover {
  color: #05ddfa;
}

.content-image {
  border: 2px solid var(--color-highlight);
}

.container-main {
  flex: 1;
}

.container-header {
  border-bottom: 1px solid var(--color-border-thin);
  padding-left: 10px;
  margin-bottom: 10px;
}

.container-content tr {
  margin-bottom: 15px;
}

.container-side {
  flex: 0 0 200px;
  padding: 5px;
  max-width: 200px;
}

.container-side > .container-header {
  padding-left: 0;
}

.content-navbutton {
  padding: 5px;
  margin: 2px;
  background-color: var(--color-bg-highlight);
  transition: 0.1s;
  cursor: pointer;
  user-select: none;
}

.content-navbutton-fit {
  display: inline-block;
  padding: 5px 40px 5px 40px;
}

.content-navbutton a {
  display: block;
}

.content-navbutton:hover {
  background: linear-gradient(to right, #4fa3b6, #135e6e);
}

.content-navbutton:active {
  background-color: #a2d5e0;
}

.content-navbutton-active {
  background: linear-gradient(to right, #4fa3b6, #135e6e);
}

.content-code {
  font-family: monospace;
}

.blog-item, .blog-label {
  background-color: var(--color-bg-highlight);
  border-left: 5px solid #a2d5e0;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 10px 0 10px 0;
}

.blog-label {
  background: linear-gradient(to right, #4fa3b6 0%, #135e6e 15%);
}

.theme-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
  justify-content: center;
}

.theme-card {
  display: inline-block;
  border: 2px solid var(--color-border-thin);
}

.theme-thumb {
  width: 350px;
  height: 175px;
}

.theme-title h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.theme-title {
  position: relative;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  background: var(--color-bg-highlight);
  transition: 0.1s;
  cursor: pointer;
  user-select: none;
}

.theme-title:hover {
  background: linear-gradient(to right, #4fa3b6, #135e6e);
}

.theme-title:active {
  background-color: #a2d5e0;
}

.if-artfight-preview {
  width: 100%;
  height: 100vh;
  border: none;
}

#banner h1 {
  font-size: 2.8rem;
  filter: var(--text-shadow);
}

#pfp {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 315px;
}

#update-panel {
  overflow-y: scroll;
  height: 200px;
  padding: 5px;
}

#update-panel h3 {
  margin-bottom: 5px;
}

#update-panel p {
  margin-top: 5px;
}

#links-panel .content-navbutton {
  margin: 0 5px 5px 5px;
}

#walls {
  column-count: 3;
  column-gap: 0;
  margin: 5px;
}

#walls img {
  width: -100%;
  max-width: 800px;
}

.likebtn-wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 1200px) {
  :root {
    font-size: 16px;
  }

  .container-layout {
    margin: 0.4%;
    flex-direction: column;
    align-items: normal;
  }

  .container-side {
    flex: 1;
    max-width: unset;
  }

  #pfp {
    height: 180px;
  }
}
