.tree-folder > .tree-label {
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
}

.tree-folder.expanded > .tree-content {
  display: block;
}

.tree-content {
  margin-left: 15px;
  display: none;
}
