<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>farewhale's space - <%= pageTitle %></title>
<link href="/assets/styles/style.css" rel="stylesheet" type="text/css" media="all">
<link href="/assets/styles/modal.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
