<div class="container container-side">
  <div class="container-content">
    <h2>Personal</h2>
    <ul>
      <% const buttons = [
        { id: 'home', name: 'Home', href: '/home.html' },
        { id: 'gallery', name: 'Gallery', href: '/gallery.html' },
        { id: 'music', name: 'My Music', href: '/music.html' },
        { id: 'blogs', name: 'My Blog', href: '/blog.html' },
        { id: 'collections', name: 'My Collections', href: '/dump.html' },
        { id: 'links', name: 'My Links', href: '/links.html' }
      ]; %>

      <% buttons.forEach(item => { %>
        <li>
          <p class="content-navbutton <%= current_page == item.id ? 'content-navbutton-active' : '' %>"><a href="<%= current_page == item.id ? '#' : item.href %>"><%= item.name %></a></p>
        </li>
        <% }); %>
    </ul>
    <h2>Misc</h2>
    <ul>
      <li><p class="content-navbutton"><a href="https://farewhale.atabook.org">Guestbook</a></p></li>
      <li><p class="content-navbutton"><a href="#">Archive</a></p></li>
    </ul>
  </div>
</div>
